@using BlazorServerSide.Models
@inject IConfiguration configuration
@inject NavigationManager NavigationManager
@using Microsoft.Extensions.Configuration

@if (Liked)
{
    <h1>LIKED</h1>
}

<div class="owl-item active" style="width: 475px;">
    <div class="col-md-6 slide-container">
        <div class="property-item" data-property-type="house">
            <div class="property-item-image lazyload" data-bg="@ImageUrl" data-uri="blank_/redirecthouse?housecode=nl-6308-01&amp;ad=20191209&amp;apers=2&amp;nig=7" data-tracking-event="personalization" data-tracking-action="last viewed properties" data-tracking-label="2_nl-6308-01" style="display: block; background-image: url('@ImageUrl');"></div>
                <span @onclick="OnFavoriteClicked" class="btn-favorite" data-property-id="NL-6308-01" data-title="Modern strandhuis in Bergen aan Zee nabij het centrum" data-tracking-event="favorite  add" data-tracking-action="last viewed properties" data-tracking-label="2_nl-6308-01">
                <span class="btn-favorite-container no-pointer-events">
                    <span class="fapicon fapicon-fav no-pointer-events"></span>
                </span></span>
                <div class="property-item-body">
                <div class="description" data-uri="blank_/redirecthouse?housecode=nl-6308-01&amp;ad=20191209&amp;apers=2&amp;nig=7">
                    <div class="heading" data-tracking-event="personalization" data-tracking-action="last viewed properties" data-tracking-label="2_nl-6308-01">
                        @Vacation.Title
                    </div><div class="row row-compact reviews-new">
                        <div class="enquete-block">
                            <span class="enquete" data-tracking-event="product page" data-tracking-action="click reviewscore" data-tracking-label="product summary">
                                @Vacation.Rating
                            </span>
                        </div>
                    </div><div class="location" data-tracking-event="personalization" data-tracking-action="last viewed properties" data-tracking-label="2_nl-6308-01">
                        @Vacation.Location
                    </div><div class="details"><div class="row row-condensed"><div class="col-xs-6" data-tracking-event="personalization" data-tracking-action="last viewed properties" data-tracking-label="2_nl-6308-01">
                    <div class="rating no-pointer-events">
                    @for (var i = 1; i <= 5; i++)
                    {                        
                        var active = Vacation.Stars >= i ? "active" : "";                        
                        <span class="fapicon fapicon-starrating @active no-pointer-events"></span>
                    }
                        @*<span class="fapicon fapicon-starrating active no-pointer-events"></span>
                        <span class="fapicon fapicon-starrating active no-pointer-events"></span>
                        <span class="fapicon fapicon-starrating active no-pointer-events"></span>
                        <span class="fapicon fapicon-starrating no-pointer-events"></span>
                        <span class="fapicon fapicon-starrating no-pointer-events"></span>*@
                    </div></div><div class="col-xs-6 summary" data-tracking-event="personalization" data-tracking-action="last viewed properties" data-tracking-label="2_nl-6308-01"><ul class="list-inline list-summary no-pointer-events"><li><span class="fapicon fapicon-person no-pointer-events"></span><strong>@Vacation.Persons</strong></li><li><span class="fapicon fapicon-bedroom no-pointer-events"></span><strong>@Vacation.SleepingRooms</strong></li></ul></div></div></div>
                </div><div class="availability">
                    <div class="row row-compact">
                        <div class="col-xs-5 availability-period" data-uri="blank_/redirecthouse?housecode=nl-6308-01&amp;ad=20191209&amp;apers=2&amp;nig=7" data-tracking-event="personalization" data-tracking-action="last viewed properties" data-tracking-label="2_nl-6308-01">
                            <div class="period no-pointer-events">
                                @Vacation.PriceUnit
                            </div>
                        </div><div class="col-xs-7">
                            <div class="pricing text-right">
                                @if (!string.IsNullOrEmpty(Vacation.OriginalPrice) && Vacation.OriginalPrice != Vacation.Price)
                                {
                                    <span class="old-price" data-toggle="modal-tip" data-target="#discount-info-modal-" data-original-title="" title="">€ @Vacation.OriginalPrice</span>
                                }
                                <div data-toggle="modal-tip" data-target="#modal-costs" data-remote-source="/stay-costs.html?property_id=NL-6308-01&amp;arrival_date=2019-12-09&amp;pax=2" data-title="Bijkomende kosten" data-original-title="" title="">
                                    <span class="price" data-tracking-event="personalization" data-tracking-action="price more info" data-tracking-label="2_nl-6308-01">
                                        € @Vacation.Price
                                    </span><span class="fapicon fapicon-info" data-tracking-event="personalization" data-tracking-action="price more info icon" data-tracking-label="2_nl-6308-01"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@code {
    [Parameter]
    public VacationModel Vacation { get; set; }

    [Parameter]
    public bool Liked { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnFavoriteClicked { get; set; }

    string ImageUrl;

    protected override void OnInitialized()
    {
        var section = configuration.GetSection("VacationImagesBaseUrl");
        var relativeuri = section.Value;
        var absoluteuri = "";
        if (relativeuri.StartsWith("~")) {            
            absoluteuri = NavigationManager.BaseUri + relativeuri.Substring(2) + Vacation.ImageUrl;
        }
        else
        {
            absoluteuri = relativeuri;
        }
        ImageUrl = absoluteuri;
    }

}
