@using BlazorServerSide.Models
@inject IConfiguration configuration
@inject NavigationManager NavigationManager
@using Microsoft.Extensions.Configuration
@using BlazorServerSide.Components.Stars
@using BlazorServerSide.Components.Rating
@using BlazorServerSide.Components.BookForm
@using BlazorServerSide.Components.Like
@inject IModalService Modal

<div class="vacation">
    <article class="card">
        <header>
            <img src="@ImageUrl" class="card-img-top content">
            <Like Liked="Liked" OnLikeClicked="OnLikeClicked"></Like>
        </header>

        <section class="card-body">
            <header class="card-title mouse-pointer">@vacation.Title</header>
            <Rating Value="@vacation.Rating"></Rating>
            <Stars Value="@vacation.Stars"></Stars>
        </section>

        <footer class="card-footer">
            <span class="price-unit">@vacation.PriceUnit</span>
            <span class="wrapper-price">
                @if (!string.IsNullOrEmpty(vacation.OriginalPrice))
                {
                    <span class="price-orig">€ @vacation.OriginalPrice</span>
                }
                <span class="price">€ @vacation.Price</span>
            </span>
        </footer>
    </article>
</div>

@code {
    [Parameter]
    public VacationModel vacation { get; set; }

    string ImageUrl;
    bool Liked { get; set; }

    protected override void OnInitialized()
    {
        var section = configuration.GetSection("VacationImagesBaseUrl");
        var relativeuri = section.Value;
        var absoluteuri = "";
        if (relativeuri.StartsWith("~"))
        {
            absoluteuri = NavigationManager.BaseUri + relativeuri.Substring(2) + vacation.ImageUrl;
        }
        else
        {
            absoluteuri = relativeuri;
        }
        ImageUrl = absoluteuri;
    }

    protected void OnLikeClicked()
    {
        Liked = !Liked;
    }
}
